@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: white;
    background-color: #111;
    font-family: 'Roboto', sans-serif;
}